# Packages #
############

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Dizáine #
###########

*.psd
*.PSD
*.ai
*.AI

# Misc #
############

*.mwb
*.bak
*.pdf
*.db
_
_site
.sass-cache
.jekyll-metadata