  @keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 10000 0; }
}
  body{
      background-color: #113;
  /*background-image: url(http://desktop.freewallpaper4.me/view/original/7212/marvel-vs-dc.jpg);*/  
  /*	background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0 */
  /*  background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* For Fx 3.6 to 15 */
    /*background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Standard syntax (must be last) */
  	/*animation: animatedBackground 5s linear infinite;*/
  }

  table {
    
    background: #262b56; /*rgba(38, 43, 86, 0.68); */
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
  }
  img.profile {
    border-radius: 100px;
    /*
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 0.5s linear infinite;
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
 */
  }
img.profile{
    -webkit-transition-duration:0.8s linear infinite;
    -moz-transition-duration:0.8s linear infinite;
    -o-transition-duration:0.8s linear infinite;
    transition-duration:0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;


}

img.profile:hover
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}
img.badgeicon:hover{
  cursor:zoom-in;
/*   -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -o-transform:scale(1.3);
  -ms-transform:scale(1.3);
  transform:scale(1.3) */
  box-shadow: 0px 5px 1px #232340;
  padding: 4px;
}
img.badgeicon{
  -webkit-transition:0.2s ease-in-out;
  -moz-transition:0.2s ease-in-out;
  -o-transition:0.2s ease-in-out;
  transition:0.2s ease-in-out


}
  img.crestpic {
  }
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 0px;
    border-style: solid;
    border-radius:15px 15px 15px 100px;
    margin: 0px auto;
    margin-bottom: 10px;
  }
  .tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: none;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
  }
  .tg th {
    font-family: Mythosmeister, sans-serif;
	letter-spacing: 5px;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: none;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
  }
  .tg .tg-e3zv {
    vertical-align: bottom;
    text-align: center;
    max-height: 10px;
    min-width: 60px;
    width: 60px;
    background: #414f8f;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    font-weight: bold;
    color: #ccc;
  }
  .tg .name {
    background: #0c0f1d;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
  }
  .tg .profilepic {
    min-width: 20%;
    border-radius:0 0 0 100px  ;
  }
  .tg .since {
    max-height: 10px;
    padding-right:18px;
    width: 15%;
    min-width: 60px;
    overflow: hidden;
    color: #aaa;
  }
  .tg .tg-031e {
    height: 1px;
    width: 60%;
  }
  .tg .badges {
    vertical-align: top;
    background: #414f8f;
    border-radius: 0px 0px 0px 0px;
  }
  .tg .badges2 {
    vertical-align: top;
    background: #414f8f;
    height:32px;
    font-size:10;
    color:#ccc;
    border-radius: 0px 0px 15px 0px;
  }
  .tg .crest {
    background: #0c0f1d;
    border-radius: 15px 0px 0px 0px;
  }
  .tg .tiername {
    min-width: 248px;
    text-align: right;
	font-size:12px;
	letter-spacing: 2px;
    background: #0c0f1d;
    color: #fff;
  }
  .tg .tiericon {
    min-width: 42px;
    margin:-5px;
    text-align: center;
    background: #0c0f1d;
    border-radius: 0px 15px 0px 0px;
    color: #fff;
  }
  img.tierplus {
    border-style:solid;
    margin:-4px;
    border-width:2px;
    width:24px;
    height:24px;
    background:#FFF;
    border-radius:105px;
     
  }
  img.tier {
   border-style:solid;
    margin:-4px;
    border-width:2px;
      align-content: center;
    background:#FFF;
    border-radius:105px;
     
  }
  img.subtier {
    border-style:hidden;
    margin:-10px;
    width:24px;
    height:24px;
  }
.tit{
    display: none;
	    position: fixed;
        cursor: default;
        font-family: Arial, sans-serif;
        bottom: 0%;
        right: -5px;
        left: -5px;
        width: 100%;
        height: 30px;
		padding-left:30px;
        padding-top: 10px;
		border-style:solid;
		border-color:#225;
		border-width:2px;
        border-radius: 0px 100% 20px 0px;
        color: #FFF;
        background-color: rgba(10,10,30,0.5);
        /*background-color: #113;*/
        text-align: left;
        z-index: 900;
}
.tit:hover{
  background-color: #113;
}
#hidden{
      position: fixed;
        cursor: pointer;
        font-family: Arial, sans-serif;
        bottom: -5px;
        right: -5px;
        width: 100px;
        height: 30px;
        padding-top: 10px;
    border-style:solid;
    border-color: rgba(255,255,255,0.5);
    border-width:2px;
        border-radius: 500px 20px 20px 30px;
        color: rgba(255,255,255,0.5);
        background-color: rgba(10,10,30,0.5);
        text-align: center;
        z-index: 900;
}
#hidden:hover{
  background-color: rgba(10,10,30,1);
}

#xis{
    display: none;
    position: fixed;
    cursor: pointer;
    font-family: Arial, sans-serif;
    top: -5px;
    right: -5px;
    padding: 10px 15px 15px 15px;
    color: white;
    border-style:solid;
    border-color: rgba(255,255,255,0.5);
    border-width:2px;
    border-radius: 0px 0px 0px 500px;
    background-color: red;
}

#hidden2{
      position: fixed;
        cursor: pointer;
        font-family: Arial, sans-serif;
        bottom: -5px;
        left: -5px;
        width: 100px;
        height: 30px;
        padding-top: 10px;
    border-style:solid;
    border-color: rgba(255,255,255,0.5);
    border-width:2px;
        border-radius: 20px 500px 20px 20px;
        color: rgba(255,255,255,0.5);
        background-color: rgba(10,10,30,0.5);
        text-align: center;
        z-index: 900;
}
#hidden2:hover{
    background-color: rgba(10,10,30,1);
}

.button {
        display: none;
        position: fixed;
        cursor: pointer;
        font-family: Arial, sans-serif;
        bottom: 0%;
        width: 100px;
        height: 30px;
        margin-left: -150px;
        margin-top: -125px;
        padding-top: 10px;
		border-color:#225;
		border-style:solid;
		border-width:2px;
        border-radius: 20px 100px 20px 100px;
        color: #FFF;
        background-color: #224;
        text-align: center;
        z-index: 1000;
		}
.button:hover{
background-color: #600;
}
.button:active{
background-color: #000;
}
.button:checked{
background-color: #0FF;
}
.button:focus{
background-color: #00F;
}
#buttalfa {
        right: 0%;
}
#buttbadge {
        right: 102px;
}
#butttier{
        right: 204px;
}
#buttrandom{
        right: 408px;
}
#buttano{
        right: 306px;
}
#buttgay{
        right: 510px;
}
#tabelas{
  display: none;
}
.tierlevel{
  color: rgba(0,0,0,0);
}

#gayframe{
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px
}
